# docker-compose.yml
version: '3.8'

services:
  nextjs:
    image: ghcr.io/${GITHUB_REPOSITORY}:latest
    container_name: nextjs-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
