@import "tailwindcss";

* {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

html {
  tab-size: 4;
  line-height: 1.5;
  font-feature-settings: "kern";
  font-variant-ligatures: common-ligatures;
  font-variation-settings: "wght" 400;
}

::-webkit-scrollbar {
  display: none;
}

.root {
  isolation: isolate;
}

@theme {
  --alpha-white-0: oklch(100% 0 0 / 0);
  --alpha-white-100: oklch(100% 0 0 / 0.05);
  --alpha-white-200: oklch(100% 0 0 / 0.1);
  --alpha-white-300: oklch(100% 0 0 / 0.15);
  --alpha-white-400: oklch(100% 0 0 / 0.2);
  --alpha-white-500: oklch(100% 0 0 / 0.3);
  --alpha-white-600: oklch(100% 0 0 / 0.4);
  --alpha-white-700: oklch(100% 0 0 / 0.5);
  --alpha-white-800: oklch(100% 0 0 / 0.6);
  --alpha-white-900: oklch(100% 0 0 / 0.7);
  --alpha-white-1000: oklch(100% 0 0 / 0.8);
  --alpha-white-1100: oklch(100% 0 0 / 0.9);
  --alpha-white-1200: oklch(100% 0 0 / 0.95);
  --alpha-black-0: oklch(14.82% 0.0034 196.79 / 0);
  --alpha-black-100: oklch(14.82% 0.0034 196.79 / 0.05);
  --alpha-black-200: oklch(14.82% 0.0034 196.79 / 0.1);
  --alpha-black-300: oklch(14.82% 0.0034 196.79 / 0.15);
  --alpha-black-400: oklch(14.82% 0.0034 196.79 / 0.2);
  --alpha-black-500: oklch(14.82% 0.0034 196.79 / 0.3);
  --alpha-black-600: oklch(14.82% 0.0034 196.79 / 0.4);
  --alpha-black-700: oklch(14.82% 0.0034 196.79 / 0.5);
  --alpha-black-800: oklch(14.82% 0.0034 196.79 / 0.6);
  --alpha-black-900: oklch(14.82% 0.0034 196.79 / 0.7);
  --alpha-black-1000: oklch(14.82% 0.0034 196.79 / 0.8);
  --alpha-black-1100: oklch(14.82% 0.0034 196.79 / 0.9);
  --alpha-black-1200: oklch(14.82% 0.0034 196.79 / 0.95);
  --extended-color-purple-25: oklch(98.1% 0.0054 297.73);
  --extended-color-purple-50: oklch(94.21% 0.0162 293.74);
  --extended-color-purple-100: oklch(88.08% 0.0343 293.03);
  --extended-color-purple-200: oklch(77.9% 0.0639 293.01);
  --extended-color-purple-300: oklch(69.78% 0.0888 291.44);
  --extended-color-purple-400: oklch(61.39% 0.1164 290.19);
  --extended-color-purple-500: oklch(55.27% 0.1361 288.8);
  --extended-color-purple-600: oklch(48.95% 0.157 286.65);
  --extended-color-purple-700: oklch(42% 0.1303 287.25);
  --extended-color-purple-800: oklch(36.17% 0.1077 287.53);
  --extended-color-purple-900: oklch(28.61% 0.0795 287.41);
  --extended-color-purple-950: oklch(21.9% 0.0552 288.93);
  --extended-color-orange-25: oklch(98.56% 0.0084 56.32);
  --extended-color-orange-50: oklch(96.4% 0.0219 58.79);
  --extended-color-orange-100: oklch(91.52% 0.0522 56.77);
  --extended-color-orange-200: oklch(85.04% 0.097 56.87);
  --extended-color-orange-300: oklch(80.1% 0.1323 55.27);
  --extended-color-orange-400: oklch(75.63% 0.1644 52.56);
  --extended-color-orange-500: oklch(71.77% 0.1905 47.86);
  --extended-color-orange-600: oklch(66.01% 0.1884 45.09);
  --extended-color-orange-700: oklch(57.37% 0.162 45.72);
  --extended-color-orange-800: oklch(50.59% 0.141467 46.3267);
  --extended-color-orange-900: oklch(38.97% 0.105571 48.3415);
  --extended-color-orange-950: oklch(28.96% 0.0746 51.86);
  --extended-color-crimson-25: oklch(98.05% 0.0066 28.83);
  --extended-color-crimson-50: oklch(95.03% 0.0186 21.57);
  --extended-color-crimson-100: oklch(88.47% 0.0455 23.1);
  --extended-color-crimson-200: oklch(79.1% 0.0874 23.59);
  --extended-color-crimson-300: oklch(72% 0.124 24.83);
  --extended-color-crimson-400: oklch(65.56% 0.1604 26.47);
  --extended-color-crimson-500: oklch(59.54% 0.1956 28.51);
  --extended-color-crimson-600: oklch(52.84% 0.185 28.96);
  --extended-color-crimson-700: oklch(47.54% 0.1647 28.98);
  --extended-color-crimson-800: oklch(42.09% 0.1438 29.01);
  --extended-color-crimson-900: oklch(32.49% 0.106 28.39);
  --extended-color-crimson-950: oklch(24.57% 0.0742 27.56);
  --extended-color-emerald-25: oklch(98.84% 0.0082 157.1);
  --extended-color-emerald-50: oklch(95.63% 0.0256 154.47);
  --extended-color-emerald-100: oklch(91.53% 0.0531 153.59);
  --extended-color-emerald-200: oklch(86.79% 0.0829 153.02);
  --extended-color-emerald-300: oklch(82.21% 0.1121 152.16);
  --extended-color-emerald-400: oklch(77.85% 0.1398 151.07);
  --extended-color-emerald-500: oklch(74.01% 0.166 149.61);
  --extended-color-emerald-600: oklch(65.67% 0.1599 148.98);
  --extended-color-emerald-700: oklch(58.83% 0.1413 149.06);
  --extended-color-emerald-800: oklch(49.65% 0.1172 149.18);
  --extended-color-emerald-900: oklch(40.03% 0.0918 149.37);
  --extended-color-emerald-950: oklch(29.82% 0.0631 150.55);
  --extended-color-pink-25: oklch(98.28% 0.005 345.28);
  --extended-color-pink-50: oklch(93.94% 0.0201 340.71);
  --extended-color-pink-100: oklch(87.59% 0.0418 339.71);
  --extended-color-pink-200: oklch(80.5% 0.0664 341.18);
  --extended-color-pink-300: oklch(73.6% 0.0938 342.16);
  --extended-color-pink-400: oklch(66.73% 0.1206 342.89);
  --extended-color-pink-500: oklch(61.85% 0.1388 344.06);
  --extended-color-pink-600: oklch(57.04% 0.1574 345.25);
  --extended-color-pink-700: oklch(49.47% 0.1333 344.88);
  --extended-color-pink-800: oklch(41.62% 0.1108 344.66);
  --extended-color-pink-900: oklch(32.6% 0.0807 344.57);
  --extended-color-pink-950: oklch(24.74% 0.0553 344.95);
  --extended-color-yellow-25: oklch(98.9% 0.0073 80.72);
  --extended-color-yellow-50: oklch(96.31% 0.0268 85.66);
  --extended-color-yellow-100: oklch(92.97% 0.0545 86.15);
  --extended-color-yellow-200: oklch(88.93% 0.0843 85.3);
  --extended-color-yellow-300: oklch(85.22% 0.1121 85.14);
  --extended-color-yellow-400: oklch(81.67% 0.1342 83.9);
  --extended-color-yellow-500: oklch(79% 0.1466 82.04);
  --extended-color-yellow-600: oklch(73.99% 0.1487 79.36);
  --extended-color-yellow-700: oklch(68.3% 0.1365 79.84);
  --extended-color-yellow-800: oklch(55.22% 0.1093 80.44);
  --extended-color-yellow-900: oklch(42.5% 0.0824 81.46);
  --extended-color-yellow-950: oklch(31.42% 0.0586 82.21);
  --extended-color-indigo-25: oklch(98.13% 0.0074 260.73);
  --extended-color-indigo-50: oklch(94.15% 0.022 263.19);
  --extended-color-indigo-100: oklch(88.28% 0.045 263.07);
  --extended-color-indigo-200: oklch(78.52% 0.086 263.89);
  --extended-color-indigo-300: oklch(70.66% 0.121 263.57);
  --extended-color-indigo-400: oklch(63.22% 0.1556 262.59);
  --extended-color-indigo-500: oklch(57.9% 0.1807 262.31);
  --extended-color-indigo-600: oklch(52.91% 0.2045 262.05);
  --extended-color-indigo-700: oklch(45.8% 0.1753 262.2);
  --extended-color-indigo-800: oklch(38.62% 0.1436 262.12);
  --extended-color-indigo-900: oklch(30.19% 0.1051 262.16);
  --extended-color-indigo-950: oklch(23.08% 0.0713 261.96);
  --extended-color-grey-25: oklch(98.51% 0 0);
  --extended-color-grey-50: oklch(94.61% 0 0);
  --extended-color-grey-100: oklch(90.67% 0 0);
  --extended-color-grey-200: oklch(82.97% 0 0);
  --extended-color-grey-300: oklch(76.68% 0 0);
  --extended-color-grey-400: oklch(69.93% 0 0);
  --extended-color-grey-500: oklch(65% 0 0);
  --extended-color-grey-600: oklch(59.99% 0 0);
  --extended-color-grey-700: oklch(52.08% 0 0);
  --extended-color-grey-800: oklch(43.86% 0 0);
  --extended-color-grey-900: oklch(34.07% 0 0);
  --extended-color-grey-950: oklch(26.03% 0 0);
  --priority-urgent: oklch(57.98% 0.1766 26.99);
  --priority-high: oklch(68.02% 0.1633 50.67);
  --priority-medium: oklch(79% 0.1466 82.04);
  --priority-low: oklch(57.9% 0.1807 262.31);
  --priority-none: oklch(63.76% 0.0129 231.77);
  --neutral-white: oklch(100% 0 0);
  --neutral-100: oklch(98.48% 0.0003 230.66);
  --neutral-200: oklch(96.96% 0.0007 230.67);
  --neutral-300: oklch(95.43% 0.001 230.67);
  --neutral-400: oklch(93.89% 0.0014 230.68);
  --neutral-500: oklch(92.35% 0.001733 230.685);
  --neutral-600: oklch(89.25% 0.0024 230.7);
  --neutral-700: oklch(86.12% 0.0032 230.71);
  --neutral-800: oklch(66.68% 0.0079 230.82);
  --neutral-900: oklch(61.61% 0.009153 230.867);
  --neutral-1000: oklch(52.88% 0.0083 230.88);
  --neutral-1100: oklch(43.77% 0.0066 230.87);
  --neutral-1200: oklch(23.78% 0.0029 230.83);
  --neutral-black: oklch(14.72% 0.0034 230.83);
  --brand-100: oklch(98.47% 0.0083 236.56);
  --brand-200: oklch(97.15% 0.0167 230.9);
  --brand-300: oklch(94.28% 0.0341 230.22);
  --brand-400: oklch(90.08% 0.0587 232);
  --brand-500: oklch(84.14% 0.0947 233.08);
  --brand-600: oklch(76.49% 0.1392 236.3);
  --brand-700: oklch(67.66% 0.1665 243.91);
  --brand-900: oklch(43.47% 0.104093 242.482);
  --brand-1000: oklch(33.99% 0.0783 240.32);
  --brand-1100: oklch(26.26% 0.0578 237.5);
  --brand-1200: oklch(20.93% 0.0438 234.02);
  --brand-default: oklch(47.99% 0.1158 242.91);
  --green-100: oklch(98.19% 0.0181 155.83);
  --green-200: oklch(96.24% 0.0434 156.74);
  --green-300: oklch(92.58% 0.0845 155.86);
  --green-400: oklch(87.04% 0.149 154.62);
  --green-500: oklch(79.14% 0.2091 151.66);
  --green-600: oklch(72.89% 0.2119 147.82);
  --green-700: oklch(63.2% 0.185972 147.37);
  --green-800: oklch(52.96% 0.149485 148.99);
  --green-900: oklch(44.68% 0.1187 151.4);
  --green-1000: oklch(39.35% 0.0957 152.28);
  --green-1100: oklch(26.54% 0.0651 152.77);
  --amber-100: oklch(98.69% 0.0214 95.28);
  --amber-200: oklch(96.17% 0.0592 95.89);
  --amber-300: oklch(92.44% 0.1203 95.85);
  --amber-400: oklch(87.81% 0.1688 91.86);
  --amber-500: oklch(82.9% 0.1712 81.04);
  --amber-600: oklch(77.24% 0.172798 65.367);
  --amber-700: oklch(66.71% 0.1685 53.38);
  --amber-800: oklch(55.7% 0.158291 45.3594);
  --amber-900: oklch(47.47% 0.135757 44.9806);
  --amber-1000: oklch(41.49% 0.1126 45.88);
  --amber-1100: oklch(27.9% 0.0773 45.6);
  --red-100: oklch(97.05% 0.0129 17.38);
  --red-200: oklch(93.65% 0.032 17.74);
  --red-300: oklch(88.34% 0.0616 18.39);
  --red-400: oklch(80.53% 0.1109 19.78);
  --red-500: oklch(70.22% 0.1892 22.23);
  --red-600: oklch(63.78% 0.2373 25.44);
  --red-700: oklch(58.3% 0.238666 28.4765);
  --red-800: oklch(50.95% 0.208583 28.513);
  --red-900: oklch(44.46% 0.1774 26.79);
  --red-1000: oklch(39.67% 0.1408 25.71);
  --red-1100: oklch(34.93% 0.1215 25.21);
  --scrollbar-thumb: var(--alpha-black-200);
  --scrollbar-thumb-surface-hover: var(--alpha-black-300);
  --scrollbar-thumb-hover: var(--alpha-black-400);
  --scrollbar-thumb-active: var(--alpha-black-500);
  --bg-canvas: var(--neutral-300);
  --bg-surface-1: var(--neutral-white);
  --bg-surface-2: var(--neutral-100);
  --bg-layer-1: var(--neutral-200);
  --bg-layer-1-hover: var(--neutral-300);
  --bg-layer-1-active: var(--neutral-400);
  --bg-layer-1-selected: var(--neutral-400);
  --bg-layer-2: var(--neutral-white);
  --bg-layer-2-hover: var(--neutral-100);
  --bg-layer-2-active: var(--neutral-200);
  --bg-layer-2-selected: var(--neutral-200);
  --bg-layer-3: var(--neutral-300);
  --bg-layer-3-hover: var(--neutral-400);
  --bg-layer-3-active: var(--neutral-500);
  --bg-layer-3-selected: var(--neutral-500);
  --bg-layer-transparent: var(--alpha-white-0);
  --bg-layer-transparent-hover: var(--alpha-black-100);
  --bg-layer-transparent-active: var(--alpha-black-200);
  --bg-layer-transparent-selected: var(--alpha-black-300);
  --bg-layer-disabled: var(--neutral-400);
  --bg-accent-primary: var(--brand-default);
  --bg-accent-primary-hover: var(--brand-900);
  --bg-accent-primary-active: var(--brand-1000);
  --bg-accent-subtle: var(--brand-100);
  --bg-accent-subtle-hover: var(--brand-200);
  --bg-accent-subtle-active: var(--brand-300);
  --bg-success-primary: var(--green-700);
  --bg-success-subtle: var(--green-100);
  --bg-success-subtle-1: var(--green-200);
  --bg-warning-primary: var(--amber-600);
  --bg-warning-subtle: var(--amber-100);
  --bg-danger-primary: var(--red-700);
  --bg-danger-primary-hover: var(--red-800);
  --bg-danger-primary-active: var(--red-900);
  --bg-danger-primary-selected: var(--red-900);
  --bg-danger-subtle: var(--red-100);
  --bg-danger-subtle-hover: var(--red-200);
  --bg-danger-subtle-active: var(--red-300);
  --bg-danger-subtle-selected: var(--red-300);
  --bg-danger-transparent: var(--red-100);
  --bg-danger-transparent-hover: var(--red-100);
  --bg-danger-transparent-active: var(--red-100);
  --bg-danger-transparent-selected: var(--red-100);
  --bg-backdrop: var(--alpha-black-500);
  --bg-inverse: var(--alpha-black-1000);
  --border-subtle: var(--neutral-400);
  --border-subtle-1: var(--neutral-500);
  --border-strong: var(--neutral-600);
  --border-strong-1: var(--neutral-700);
  --border-inverse: var(--neutral-white);
  --border-disabled: var(--neutral-300);
  --border-accent-strong: var(--brand-default);
  --border-accent-subtle: var(--brand-300);
  --border-success-strong: var(--green-700);
  --border-success-subtle: var(--green-300);
  --border-warning-strong: var(--amber-700);
  --border-warning-subtle: var(--amber-400);
  --border-danger-strong: var(--red-700);
  --border-danger-subtle: var(--red-400);
  --txt-primary: var(--neutral-1200);
  --txt-secondary: var(--neutral-1100);
  --txt-tertiary: var(--neutral-1000);
  --txt-placeholder: var(--neutral-900);
  --txt-disabled: var(--neutral-800);
  --txt-accent-primary: var(--brand-default);
  --txt-accent-secondary: var(--brand-700);
  --txt-on-color: var(--neutral-100);
  --txt-on-color-disabled: var(--alpha-black-400);
  --txt-inverse: var(--neutral-white);
  --txt-success-primary: var(--green-900);
  --txt-success-secondary: var(--green-700);
  --txt-warning-primary: var(--amber-900);
  --txt-warning-secondary: var(--amber-700);
  --txt-danger-primary: var(--red-900);
  --txt-danger-secondary: var(--red-700);
  --txt-icon-primary: var(--neutral-1200);
  --txt-icon-accent-subtle: var(--brand-500);
  --txt-icon-accent-primary: var(--brand-default);
  --txt-icon-danger-primary: var(--red-900);
  --txt-icon-danger-secondary: var(--red-700);
  --txt-icon-success-primary: var(--green-900);
  --txt-icon-success-secondary: var(--green-700);
  --txt-icon-warning-primary: var(--amber-900);
  --txt-icon-warning-secondary: var(--amber-700);
  --txt-icon-accent-primary-inverse: var(--brand-900);
  --txt-icon-accent-secondary: var(--brand-1200);
  --txt-icon-secondary: var(--neutral-1100);
  --txt-icon-tertiary: var(--neutral-900);
  --txt-icon-placeholder: var(--neutral-800);
  --txt-icon-disabled: var(--neutral-700);
  --txt-icon-danger: var(--red-700);
  --txt-icon-on-color: var(--neutral-white);
  --txt-icon-on-color-disabled: var(--alpha-black-400);
  --txt-icon-inverse: var(--neutral-white);
  --txt-link-primary: var(--brand-default);
  --txt-link-primary-hover: var(--brand-900);
  --txt-link-secondary: var(--neutral-900);
  --label-indigo-bg: var(--extended-color-indigo-50);
  --label-indigo-bg-strong: var(--extended-color-indigo-700);
  --label-indigo-hover: var(--extended-color-indigo-100);
  --label-indigo-icon: var(--extended-color-indigo-700);
  --label-indigo-text: var(--extended-color-indigo-700);
  --label-indigo-border: var(--extended-color-indigo-700);
  --label-indigo-focus: var(--extended-color-indigo-500);
  --label-emerald-bg: var(--extended-color-emerald-50);
  --label-emerald-bg-strong: var(--extended-color-emerald-600);
  --label-emerald-hover: var(--extended-color-emerald-200);
  --label-emerald-icon: var(--extended-color-emerald-800);
  --label-emerald-text: var(--extended-color-emerald-800);
  --label-emerald-border: var(--extended-color-emerald-800);
  --label-emerald-focus: var(--extended-color-emerald-700);
  --label-grey-bg: var(--extended-color-grey-50);
  --label-grey-bg-strong: var(--extended-color-grey-700);
  --label-grey-hover: var(--extended-color-grey-100);
  --label-grey-icon: var(--extended-color-grey-700);
  --label-grey-text: var(--extended-color-grey-700);
  --label-grey-border: var(--extended-color-grey-700);
  --label-grey-focus: var(--extended-color-grey-500);
  --label-crimson-bg: var(--extended-color-crimson-50);
  --label-crimson-bg-strong: var(--extended-color-crimson-700);
  --label-crimson-hover: var(--extended-color-crimson-100);
  --label-crimson-icon: var(--extended-color-crimson-700);
  --label-crimson-text: var(--extended-color-crimson-700);
  --label-crimson-border: var(--extended-color-crimson-700);
  --label-crimson-focus: var(--extended-color-crimson-500);
  --label-yellow-bg: var(--extended-color-yellow-50);
  --label-yellow-bg-strong: var(--extended-color-yellow-600);
  --label-yellow-hover: var(--extended-color-yellow-100);
  --label-yellow-icon: var(--extended-color-yellow-700);
  --label-yellow-text: var(--extended-color-yellow-700);
  --label-yellow-border: var(--extended-color-yellow-600);
  --label-yellow-focus: var(--extended-color-yellow-400);
  --label-orange-bg: var(--extended-color-orange-50);
  --label-orange-bg-strong: var(--extended-color-orange-600);
  --label-orange-hover: var(--extended-color-orange-100);
  --label-orange-icon: var(--extended-color-orange-600);
  --label-orange-text: var(--extended-color-orange-600);
  --label-orange-border: var(--extended-color-orange-600);
  --label-orange-focus: var(--extended-color-orange-300);
  --label-pink-bg: var(--extended-color-pink-50);
  --label-pink-bg-strong: var(--extended-color-pink-600);
  --label-pink-hover: var(--extended-color-pink-100);
  --label-pink-icon: var(--extended-color-pink-600);
  --label-pink-text: var(--extended-color-pink-600);
  --label-pink-border: var(--extended-color-pink-600);
  --label-pink-focus: var(--extended-color-pink-400);
  --label-purple-bg: var(--extended-color-purple-50);
  --label-purple-bg-strong: var(--extended-color-purple-500);
  --label-purple-hover: var(--extended-color-purple-100);
  --label-purple-icon: var(--extended-color-purple-500);
  --label-purple-text: var(--extended-color-purple-600);
  --label-purple-border: var(--extended-color-purple-600);
  --label-purple-focus: var(--extended-color-purple-300);
  --illustration-fill-primary: var(--neutral-white);
  --illustration-fill-secondary: var(--neutral-200);
  --illustration-fill-tertiary: var(--neutral-400);
  --illustration-fill-quaternary: var(--neutral-700);
  --illustration-stroke-primary: var(--neutral-700);
  --illustration-stroke-secondary: var(--neutral-800);
  --illustration-stroke-tertiary: var(--neutral-1200);
  --txt-plans-neutral-primary: var(--neutral-1000);
  --txt-plans-neutral-color: var(--neutral-100);
  --bg-plans-neutral-subtle: var(--neutral-400);
  --bg-plans-neutral-solid: var(--neutral-1200);
  --txt-plans-brand-primary: var(--brand-1200);
  --txt-plans-brand-color: var(--neutral-100);
  --bg-plans-brand-subtle: var(--brand-200);
  --bg-plans-brand-solid: var(--brand-1200);

  --spacing: 0.25rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --leading-tight: 1.25;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;

  --blur-sm: 8px;
  --blur-2xl: 40px;

  --border-width-md: 1.5px;
  --border-width-lg: 2px;
  --default-border-width: 1px;
  --height-header: 3.25rem;
  --padding-page-x: 1.35rem;
  --padding-page-y: 1.35rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-heavy: 800;
  --text-9: 0.5625rem;
  --text-10: 0.625rem;
  --text-11: 0.6875rem;
  --text-12: 0.75rem;
  --text-13: 0.8125rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-28: 1.75rem;
  --text-40: 2.5rem;
  --tracking-tight: -0.05rem;
  --tracking-default: 0;
  --tracking-wide: 0.05rem;
  --text-h3-medium: var(--text-24);
  --text-h3-medium--line-height: 1.2;
  --text-h3-medium--letter-spacing: var(--tracking-default);
  --text-h3-medium--font-weight: var(--font-weight-medium);
  --text-h3-semibold: var(--text-24);
  --text-h3-semibold--line-height: 1.2;
  --text-h3-semibold--letter-spacing: var(--tracking-default);
  --text-h3-semibold--font-weight: var(--font-weight-semibold);
  --text-h3-bold: var(--text-24);
  --text-h3-bold--line-height: 1.2;
  --text-h3-bold--letter-spacing: var(--tracking-default);
  --text-h3-bold--font-weight: var(--font-weight-bold);
  --text-h4-regular: var(--text-20);
  --text-h4-regular--line-height: 1.2;
  --text-h4-regular--letter-spacing: var(--tracking-default);
  --text-h4-regular--font-weight: var(--font-weight-regular);
  --text-h4-medium: var(--text-20);
  --text-h4-medium--line-height: 1.2;
  --text-h4-medium--letter-spacing: var(--tracking-default);
  --text-h4-medium--font-weight: var(--font-weight-medium);
  --text-h4-semibold: var(--text-20);
  --text-h4-semibold--line-height: 1.2;
  --text-h4-semibold--letter-spacing: var(--tracking-default);
  --text-h4-semibold--font-weight: var(--font-weight-semibold);
  --text-h5-medium: var(--text-18);
  --text-h5-medium--line-height: 1.2;
  --text-h5-medium--letter-spacing: var(--tracking-default);
  --text-h5-medium--font-weight: var(--font-weight-medium);
  --text-h5-semibold: var(--text-18);
  --text-h5-semibold--line-height: 1.2;
  --text-h5-semibold--letter-spacing: var(--tracking-default);
  --text-h5-semibold--font-weight: var(--font-weight-semibold);
  --text-h5-bold: var(--text-18);
  --text-h5-bold--line-height: 1.2;
  --text-h5-bold--letter-spacing: var(--tracking-default);
  --text-h5-bold--font-weight: var(--font-weight-bold);
  --text-h6-medium: var(--text-16);
  --text-h6-medium--line-height: 1.2;
  --text-h6-medium--letter-spacing: var(--tracking-default);
  --text-h6-medium--font-weight: var(--font-weight-medium);
  --text-h6-semibold: var(--text-16);
  --text-h6-semibold--line-height: 1.2;
  --text-h6-semibold--letter-spacing: var(--tracking-default);
  --text-h6-semibold--font-weight: var(--font-weight-semibold);
  --text-body-md-regular: var(--text-16);
  --text-body-md-regular--line-height: 1.4;
  --text-body-md-regular--letter-spacing: calc(0.01 * var(--text-16));
  --text-body-md-regular--font-weight: var(--font-weight-regular);
  --text-body-md-medium: var(--text-16);
  --text-body-md-medium--line-height: 1.4;
  --text-body-md-medium--letter-spacing: calc(0.01 * var(--text-16));
  --text-body-md-medium--font-weight: var(--font-weight-medium);
  --text-body-sm-regular: var(--text-14);
  --text-body-sm-regular--line-height: 1.4;
  --text-body-sm-regular--letter-spacing: calc(0.01 * var(--text-14));
  --text-body-sm-regular--font-weight: var(--font-weight-regular);
  --text-body-sm-medium: var(--text-14);
  --text-body-sm-medium--line-height: 1.4;
  --text-body-sm-medium--letter-spacing: calc(0.01 * var(--text-14));
  --text-body-sm-medium--font-weight: var(--font-weight-medium);
  --text-body-sm-semibold: var(--text-14);
  --text-body-sm-semibold--line-height: 1.4;
  --text-body-sm-semibold--letter-spacing: calc(0.01 * var(--text-14));
  --text-body-sm-semibold--font-weight: var(--font-weight-semibold);
  --text-body-xs-regular: var(--text-13);
  --text-body-xs-regular--line-height: 1.4;
  --text-body-xs-regular--letter-spacing: calc(0.01 * var(--text-13));
  --text-body-xs-regular--font-weight: var(--font-weight-regular);
  --text-body-xs-medium: var(--text-13);
  --text-body-xs-medium--line-height: 1.4;
  --text-body-xs-medium--letter-spacing: calc(0.01 * var(--text-13));
  --text-body-xs-medium--font-weight: var(--font-weight-medium);
  --text-body-xs-semibold: var(--text-13);
  --text-body-xs-semibold--line-height: 1.4;
  --text-body-xs-semibold--letter-spacing: calc(0.01 * var(--text-13));
  --text-body-xs-semibold--font-weight: var(--font-weight-semibold);
  --text-body-xs-bold: var(--text-13);
  --text-body-xs-bold--line-height: 1.4;
  --text-body-xs-bold--letter-spacing: calc(0.01 * var(--text-13));
  --text-body-xs-bold--font-weight: var(--font-weight-bold);
  --text-caption-md-regular: var(--text-12);
  --text-caption-md-regular--line-height: 1.1;
  --text-caption-md-regular--letter-spacing: var(--tracking-default);
  --text-caption-md-regular--font-weight: var(--font-weight-regular);
  --text-caption-md-medium: var(--text-12);
  --text-caption-md-medium--line-height: 1.1;
  --text-caption-md-medium--letter-spacing: var(--tracking-default);
  --text-caption-md-medium--font-weight: var(--font-weight-medium);
  --text-caption-md-semibold: var(--text-12);
  --text-caption-md-semibold--line-height: 1.1;
  --text-caption-md-semibold--letter-spacing: var(--tracking-default);
  --text-caption-md-semibold--font-weight: var(--font-weight-semibold);
  --text-caption-sm-regular: var(--text-11);
  --text-caption-sm-regular--line-height: 1.1;
  --text-caption-sm-regular--letter-spacing: var(--tracking-default);
  --text-caption-sm-regular--font-weight: var(--font-weight-regular);
  --text-caption-sm-medium: var(--text-11);
  --text-caption-sm-medium--line-height: 1.1;
  --text-caption-sm-medium--letter-spacing: var(--tracking-default);
  --text-caption-sm-medium--font-weight: var(--font-weight-medium);
  --text-caption-sm-semibold: var(--text-11);
  --text-caption-sm-semibold--line-height: 1.1;
  --text-caption-sm-semibold--letter-spacing: var(--tracking-default);
  --text-caption-sm-semibold--font-weight: var(--font-weight-semibold);
  --text-caption-xs-regular: var(--text-10);
  --text-caption-xs-regular--line-height: 1;
  --text-caption-xs-regular--letter-spacing: calc(0.01 * var(--text-10));
  --text-caption-xs-regular--font-weight: var(--font-weight-regular);
  --text-caption-xs-medium: var(--text-10);
  --text-caption-xs-medium--line-height: 1;
  --text-caption-xs-medium--letter-spacing: calc(0.01 * var(--text-10));
  --text-caption-xs-medium--font-weight: var(--font-weight-medium);

  --aspect-video: 16 / 9;
  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce: bounce 1s infinite;
  --animate-slide-up: slide-up 0.3s ease-out forwards;
  --animate-slide-in-from-bottom: slideInFromBottom 0.25s ease-out forwards;
  --animate-slide-in-from-top: slideInFromTop 0.25s ease-out forwards;
  --animate-slide-out: slideOut 0.25s ease-out forwards;
  --animate-slide-out-down: slideOutDown 0.25s ease-out forwards;
  --animate-fade-out: fadeOut 0.25s ease-out forwards;
  --animate-fade-in: fadeIn 0.25s ease-out forwards;
}
